body {
  background-color: #000000;
  font-family: "Consolas";
  color: #dddddd;
  font-size: 25px;
  font-weight: 100;
}

span {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; Adjust as needed */
  animation: 
    /* typing 3.5s steps(40, end), */
    blink-caret .75s step-end infinite;
}

#bottom-left {
  position: absolute; 
  left: 16px; 
  bottom: 10px;
  font-size: 18px;
}

/* The typing effect
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
} */

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #000000;
  color: transparent;
}

.no-outline:focus {
  outline: none;
}

.imgbox {
  display: grid;
  height: 100%;
}
.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}
